
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Mobile */
@media screen and (max-width: 600px){
    .top{
        display: none;
    }
    .disclaimer{
        background: gray;
        font-size: 8px;
        margin: 0 20px 20px 0;
        padding: 8px 0 20px 12px;
        z-index: 2;
        position: fixed;
        top: 89%;
        width: 100vw;
    }
}
/* Laptop */
@media screen and (min-width: 768px){
    .header p{
        /* align-content: center; */
        margin: 0 10px 10px 10px;
        /* margin-left: 10px; */
        border-radius: 12px ;
        min-width: 768px;
        padding: 20px;
        display: block;
        font-size: 23px;
        background: lightcoral;
        max-width: 125vw;
    }
    /* Extra margin between header and info container */
    .infoContainer{
        margin: 0 10px 0 10px;
        /* border-radius: 45px; */
        max-width: 200vh;
        height: 100vh;
        /* background-color: blue; */
    }
    .infoContainer p{
        padding: 20px;
    }
    .body{
        height: 400vh;
        /* background-color: black; */
        min-width: 200vw;
        z-index: 1;
    
    }
    .top{
        padding: 10px 0px 23px 0;
        height: 40px;
        width: 100%;
        position: relative;
        left: 70vw;
    }
    .top ul{
        list-style: none;
    }
    .top li{
        display: inline;
    }
    .infoContainer{
        z-index: 2;
       position: absolute;
       top: 40%;
       left: 70%;   
    }
    .disclaimer{
        background: gray;
        font-size: 13px;
        margin: 0 20px 20px 0;
        padding: 8px 0 20px 12px;
        z-index: 2;
        position: fixed;
        top: 89%;
        width: 100vw;
    }
    
}
.header img{
    z-index: 0;
    max-width: 100%;
    height: auto;
}

/* .navbar{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */




